<section class="container">
  <div
    class="row w-75 mx-auto shadow p-2 my-2 rounded-4 justify-content-center align-items-center"
  >
    <div class="col-md-6">
      <h1 class="h2 text-main">login Now:</h1>
      <img
        src="./assets/images/login.jpg"
        height="300px"
        class="w-100 rounded-3"
        alt=""
      />
    </div>

    <div class="col-md-6">
      <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
        <div class="my-2">
          <label for="email"> Email </label>
          <input
            [ngClass]="{
              'is-valid':
                !loginForm.get('email')?.errors &&
                (loginForm.get('email')?.touched ||
                  loginForm.get('email')?.dirty),
              'is-invalid':
                loginForm.get('email')?.errors &&
                (loginForm.get('email')?.touched ||
                  loginForm.get('email')?.dirty)
            }"
            type="email"
            id="email"
            class="form-control"
            formControlName="email"
          />
          @if (loginForm.get('email')?.errors
          &&(loginForm.get("email")?.touched||loginForm.get("email")?.dirty)) {
          <div class="alert alert-danger w-50">
            @if (loginForm.get("email")?.getError('required')) {
            <p class="m-0">email is required</p>
            } @else if (loginForm.get("email")?.getError('email')) {
            <p class="m-0">Enter Valid Email</p>
            }
          </div>
          }
        </div>
        <div class="my-2">
          <label for="password"> password </label>
          <input
            [ngClass]="{
              'is-valid':
                !loginForm.get('password')?.errors &&
                (loginForm.get('password')?.touched ||
                  loginForm.get('password')?.dirty),
              'is-invalid':
                loginForm.get('password')?.errors &&
                (loginForm.get('password')?.touched ||
                  loginForm.get('password')?.dirty)
            }"
            type="password"
            id="password"
            class="form-control"
            formControlName="password"
          />
          @if (loginForm.get('password')?.errors
          &&(loginForm.get("password")?.touched||loginForm.get("password")?.dirty))
          {
          <div class="alert alert-danger w-50">
            @if (loginForm.get("password")?.getError('required')) {
            <p class="m-0">password is required</p>
            } @else if (loginForm.get("password")?.getError('pattern')) {
            <p class="m-0">It must consist of at least 6 letters</p>
            }
          </div>
          }
        </div>

        <button
          [disabled]="loginForm.invalid || isLoading"
          type="submit"
          class="btn-main d-block ms-auto w-100 my-btn"
        >
          login @if (isLoading) {<span
            ><i class="fa-solid fa-arrows-spin fa-spin"></i></span
          >}
        </button>
        @if (msgError) {
        <p class="alert alert-danger w-50 m-0">{{ msgError }}</p>
        }
      </form>
    </div>
  </div>
</section>
