<section class="container-fluid footer">
  <div class="container p-5">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-4">
            <p><a>About Us</a></p>
            <p><a>API</a></p>
            <p><a>Contact Us</a></p>
          </div>
          <div class="col-md-4">
            <p><a>Help/FAQ</a></p>
            <p><a>Support & Bugs</a></p>
            <p><a>Sitemap</a></p>
          </div>
          <div class="col-md-4">
            <p><a>Privacy Policy</a></p>
            <p><a>Cookies Policy</a></p>
            <p><a>Terms of Use</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <img src="./assets/images/logo-sm.png" width="150px" alt="" />
      </div>
    </div>
    <hr />
    <div class="d-flex justify-content-between align-items-center gap-3">
      <p>Contact Us</p>
      <span class="icon"
        ><a href="https://github.com/Romany-Ayman"
          ><i class="fa-brands fa-github"></i></a
      ></span>
      <span class="icon"
        ><a href="https://www.linkedin.com/in/romany-ayman-542005256/">
          <i class="fa-brands fa-linkedin-in"></i></a
      ></span>
      <span class="icon"><i class="fa-brands fa-facebook"></i></span>
    </div>
  </div>
</section>
