/***** theme customize *****/
@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap");
:root {
  --main-color: #272b30;
  --seconde-color: #32383e;
  --good-color: #232527c5;
  --color-text: #AAA495;
  --btn-main-color: #272729;
  --start-color:#09c;
}

[data-theme=dark] {
  --main-color: #eeeeee;
  --seconde-color: #909396;
  --color-text: #000;
  --btn-main-color: #414550;
  --good-color: #258ffac5;
  --start-color:rgb(27, 204, 0);
}

.btn-start {
  background-color: var(--start-color);
  color: #fff;
  padding: 7px;
  border-radius: 10px;
}

.btn-start:hover {
  background-color: rgb(5, 93, 122);
}

.cr {
  cursor: pointer;
}

.btn-main {
  background-color: var(--btn-main-color);
  color: var(--color-text);
  border-radius: 10px;
}

.btn-main:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2));
}

.form-control,
.form-control:focus {
  background-color: var(--main-color);
  color: var(--color-text);
  border-color: var(--seconde-color);
}

.form-control::-moz-placeholder {
  color: var(--color-text);
}

.form-control::placeholder {
  color: var(--color-text);
}

.badge-color {
  background-color: var(--seconde-color);
}

* {
  transition: background-color 0.5s, color 0.2s;
}

body {
  font-family: "Comfortaa", cursive;
  min-height: 100%;
  min-width: 100%;
  background-color: var(--main-color);
  color: var(--color-text);
}

.navbar {
  background-color: var(--good-color);
}

.footer {
  background-color: var(--good-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nerko One", cursive;
  color: var(--color-text) !important;
}

a,
p,
span {
  color: inherit !important;
}

ul {
  list-style-position: inside;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  display: none;
}

.login .login-area,
.register .register-area {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.nav-bg {
  background-color: var(--main-color);
}

::-webkit-scrollbar {
  width: 0.625rem;
}

::-webkit-scrollbar-track {
  background-color: var(--seconde-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
}

.card {
  background-color: var(--good-color);
  filter: grayscale(0.7);
  transition: transform 0.5s, filter 0.5s 0.1s;
}

.card:hover {
  transform: scale(1.05);
  filter: grayscale(0);
}

a {
  text-decoration: none;
}

.details {
  background-color: rgba(39, 39, 41, 0.7450980392);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.active-link {
  background-color: var(--start-color) !important;
  color: var(--color-text) !important;
  border-radius: 5px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}/*# sourceMappingURL=styles.css.map */